#app-list {
    background: #434c5e;
}

#root-box {
    margin: 100px 0 130px 0;
}

#search {
    background: #5e81ac;
    border-radius: 15px 0 0 0;
    padding-left: 1em;
}

.app-row:hover:selected {
    background-color: #8fbcbb;
}

.app-row:hover {
    background-color: #8fbcbb;
}

.app-row:selected {
    background-color: #8fbcbb;
}

.app-row:hover.selected {
    background-color: #8fbcbb;
}
