.dock {
    background-color: transparent;
}

.time_didget {
    // General styling
    font-size: 14;
    padding: 2px 10px;

    // Color and border
    background-color: rgba(14, 14, 14, 0.616);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-color: #2e3440;
    border-style: solid;
    border-width: 1px;
}
